.navbar {
  margin: 12px 0px 12px 0px;
}

.dropdown__el {
  color: rgb(255, 255, 255);
}
.navbar__cart {
}
.navbar p {
  margin: 0;
}

.shopCount {
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(255, 204, 0, 0.955);
}