.offcanvas-start {
  background-color: #101119;
}
body {
  background-color: #000218;
}

.card-text {
  color:#0d6efd;
  word-wrap: break-word;
  max-height: 70px;
}

.price {
  padding-top: 10px;
}
.card {
  margin-bottom: 20px;
}